<div class="modal-container">

    <div class="modal">
        <header class="modal__header">
            <nav class="modal__header__navigation">
                <div class="modal__header__navigation__item">
                    Confirme sus productos
                </div>

                <div class="modal__header__navigation__item">
                    <button class="button button--close">&times;</button>
                </div>
            </nav>
        </header>

        <section class="modal__container">
            <h2>Contenido principal</h2>
        </section>

        <footer class="modal__footer">
            pie de página
        </footer>
    </div>
</div>