.button {
  --border-radius: 30px;

  transition: 300ms ease;
  min-width: unset;
  min-height: unset;

  background-color: transparent;
  padding: 0;
  box-shadow: none;

  font: {
    family: inherit;
    size: 1.5rem;
  }
  &:not([class*="--"]) {
    &:hover {
      background-color: lighten(black, 30);
    }
  }

  &--primary {
    background-color: $color-base;
    border-radius: 5px;
  }

  &--width {
    width: 100%;
  }

  &--close {
    box-shadow: none;
    min-width: auto;
    min-height: auto;
    max-height: auto;
    max-width: auto;
    position: relative;

    --size: 40px;

    width: var(--size);
    height: var(--size);

    border-radius: 50%;

    background-color: transparent;
    font-size: 3rem;
    box-shadow: none;
    outline: 1px solid transparent;
    padding: 0;

    &::before,
    &::after {
      display: none;
    }

    &:hover {
      background-color: rgba(red, 0.8);
      color: white;
    }

    &:active {
      background-color: rgba(red, 0.6);
      color: white;
      transition: none;
    }
  }

  &--quantity {
    --size: 40px;

    width: var(--size);
    height: var(--size);

    font: {
      size: 3rem;
    }
  }
}

.form {
  display: flex;
  align-items: center;

  &__quantity {
    width: 100px;
    margin-right: 10px;

    label {
      height: 47px;

      input {
        display: block;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        border: 1px solid rgba(black, 0.2);
        outline: 1px solid transparent;
        transition: 300ms ease;

        &:focus {
          border: 1px solid $color-base;
          outline: none;
          box-shadow: none;
        }
      }
    }

  }

  &__button-container {
    flex-grow: 1;
  }
}

.minicart-form {
  --control-size: 40px;

  border: 1px solid rgba($color-base, 0.3);
  color: $color-base;
  border-radius: 5px;
  box-shadow: 2px 2px 0 2px rgba($color-base, 0.3);
  padding: 20px;
  background-color: rgba($color-base, 0.05);

  &:not(:first-of-type) {
    margin-top: 20px;
  }

  &__quantity {
    background-color: white;
    padding: 10px;

    justify-content: space-between;
    border: 1px solid $color-base;

    &, &__inner {
      display: flex;
      align-items: center;
    }

    &__inner {
      padding: 5px;
    }


    input {
      height: var(--control-size);
      width: calc(var(--control-size) * 1.5);
      appearance: textfield;
      text-align: center;
      outline: 1px solid transparent;
      background-color: inherit;
      transition: 300ms ease;
      font: inherit;

      &:focus {
        outline: 1px solid transparent;
        border: 1px solid rgba(#0080d4, 0.8);
      }
    }
  }
}
